<!DOCTYPE html>
<html>

<head>
    <title>SyC - Optimizing Compiler for SysY (C Subset)</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
    <link href="https://unpkg.com/element-ui@2.15.0/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://unpkg.com/monaco-editor@0.23.0/min/vs/loader.js"></script>
    <style>
        .el-divider--vertical {
            height: auto;
        }

        .el-textarea>textarea {
            font-family: consolas;
            height: 100% !important;
        }

        html,
        body,
        #app,
        .el-container,
        .el-main>div {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        .half {
            flex-basis: 100px;
            flex-grow: 1;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="auto" style="text-align:center">
                <h1>SyC Online Demo</h1>
                <el-switch v-model="optimization" active-text="Optimization">
                </el-switch>
                <el-switch v-model="dwarf2" active-text="DWARF2">
                </el-switch>
                <el-button @click="compile" :disabled="!!status">{{status||'compile'}}</el-button>
            </el-header>
            <el-main>
                <div style="display:flex;max-height:100%;">
                    <div ref="editor" v-show="editor" class="half" style="overflow: hidden;"></div>
                    <el-input v-if="!editor" type="textarea" placeholder="Code" resize="none" class="half"
                        v-model="code">
                    </el-input>
                    <el-divider direction="vertical"></el-divider>
                    <div class="half">
                        <el-collapse v-model="activeNames">
                            <el-collapse-item title="AST" name="1">
                                <el-tree default-expand-all :data="ast"></el-tree>
                            </el-collapse-item>
                            <el-collapse-item title="IR" name="2">
                                <div style="white-space:break-spaces;font-family:consolas;">{{ir}}</div>
                            </el-collapse-item>
                            <el-collapse-item title="Assembly" name="3">
                                <template slot="title">
                                    Assembly
                                    <el-checkbox style="padding-left:1em;" size="mini" v-model="showComment">
                                        Show comment
                                    </el-checkbox>
                                </template>
                                <div style="white-space:break-spaces;font-family:consolas;"
                                    v-text="showComment ? assembly : assemblyWithoutComment"></div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                </div>
            </el-main>
            <el-footer style="text-align:center">
                Copyright (C) 2020-2021 nzh63, skywf21
            </el-footer>
        </el-container>
    </div>
    <script>
        var Module = {
            noInitialRun: true,
            print: msg => app.$data.assembly += msg + '\n',
            printErr(msg) {
                msg = '' + msg;
                if (msg.startsWith('└') || msg.startsWith('│')) {
                    app.addAstNode(msg);
                } else {
                    app.$data.ir += msg + '\n'
                }
            },
            onRuntimeInitialized() {
                app.compile();
            },
            setStatus(status) {
                app.$data.status = status;
            }
        };
    </script>
    <script type="text/javascript" src="./syc.js"></script>
    <script>
        Vue.use(ELEMENT);
        var app = new Vue({
            el: '#app',
            data: {
                status: 'Downloading...',
                activeNames: ['3'],
                optimization: true,
                dwarf2: false,
                code:
                    `const int N = 1024;
void mm(int n, int A[][N], int B[][N], int C[][N]) {
    for (int i = 0; i < n; i++) {
        for (int j = 0; j < n; j++) {
            C[i][j] = 0;
        }
    }
    for (int k = 0; k < n; k++) {
        for (int i = 0; i < n; i++) {
            if (A[i][k] == 0) {
                continue;
            }
            for (int j = 0; j < n; j++) {
                C[i][j] = C[i][j] + A[i][k] * B[k][j];
            }
        }
    }
}
int A[N][N];
int B[N][N];
int C[N][N];
int main(){
    int n = getint();
    for (int i = 0; i < n; i++) {
        for (int j = 0; j < n; j++) {
            A[i][j] = getint();
        }
    }
    for (int i = 0; i < n; i++) {
        for (int j = 0; j < n; j++) {
            B[i][j] = getint();
        }
    }
    starttime();
    for (int i = 0; i < 5; i++) {
        mm(n, A, B, C);
        mm(n, A, C, B);
    }
    int ans = 0;
    for (int i = 0; i < 5; i++) {
        for (int j = 0; j < n; j++) {
            ans = ans + B[i][j];
        }
    }
    stoptime();
    putint(ans);
    putch(10);
    return 0;
}
`,
                assembly: '',
                showComment: false,
                ast: [{ label: '...' }],
                cur: null,
                curLevel: 1,
                ir: '',
                editor: null
            },
            computed: {
                assemblyWithoutComment() {
                    return this.assembly.replace(/^#[^\n]*\n?/msg, '');
                }
            },
            mounted() {
                require.config({ paths: { 'vs': 'https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min/vs' } });
                window.MonacoEnvironment = {
                    getWorkerUrl: function (workerId, label) {
                        return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                            self.MonacoEnvironment = {
                            baseUrl: 'https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min'
                            };
                            importScripts('https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min/vs/base/worker/workerMain.js');`
                        )}`;
                    }
                };
                require(["vs/editor/editor.main"], () => {
                    this.editor = monaco.editor.create(this.$refs.editor, {
                        value: this.code,
                        language: "c",
                        automaticLayout: true
                    });
                });
            },
            methods: {
                compile() {
                    this.assembly = '';
                    this.ir = '';
                    this.ast = [{ label: '...' }];
                    this.cur = this.ast[0];
                    this.curLevel = 1;
                    const filename = 'input';
                    this.code = this.editor?.getValue() ?? this.code;
                    try { Module.FS.unlink('/' + filename); } catch (e) { }
                    Module.FS.createDataFile('/', filename, this.code, 1, 1, 1);
                    args = ['/' + filename, '-print_ast', '-print_ir', '-print_log'];
                    if (this.optimization) args.push('-O2');
                    else args.push('-O0');
                    if (this.dwarf2) args.push('-g')
                    const ret = Module.callMain(args);
                    Module.FS.unlink('/' + filename);
                    if (ret !== 0) {
                        this.ast = [{ label: 'Error' }];
                        this.assembly = this.ir;
                    }
                },
                addAstNode(msg) {
                    let level = msg.match(/│|└|├/g).length;
                    msg = msg.replace(/│|└|├|──/g, '').trim();
                    if (level == 1) {
                        this.ast = [{ label: msg }];
                        this.cur = this.ast[0];
                    } else {
                        while (level <= this.curLevel) {
                            if (this.cur.father) this.cur = this.cur.father;
                            else this.cur = this.ast[0];
                            this.curLevel--;
                        }
                        this.cur.children = this.cur.children || [];
                        this.cur.children.push({ label: msg, father: this.cur })
                        this.cur = this.cur.children[this.cur.children.length - 1];

                    }
                    this.curLevel = level;
                }
            }
        });
    </script>
</body>

</html>
